<html>
	<head>
                <style>
                .buttonalign{
                    text-align: center;
                    vertical-align: middle;
                }
                </style>
		<title>Bank Account</title>
	</head>
	<body>
		<button class="buttonalign" onclick="href =subpage';">SIGN UP</button>
                <a href="lists/subpage">link1</a>
		<table>
			<tr>
				<td>
				<input id="id_new_user" placeholder="Enter your first and last name"/>
				</td>
			</tr>
		</table>
	
	</body>	

</html>
